* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(324, 91%, 46%, 1);
  background: linear-gradient(
    90deg,
    hsla(324, 91%, 46%, 1) 0%,
    hsla(18, 100%, 49%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(324, 91%, 46%, 1) 0%,
    hsla(18, 100%, 49%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(324, 91%, 46%, 1) 0%,
    hsla(18, 100%, 49%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E20B8C", endColorstr="#F84B00", GradientType=1 );
}

h1 {
  color: white;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .top-nav {
    background: rgba(187, 255, 0, .9);
    background-color: #00FF44;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    height: 60px;
} */

input[type="date"] {
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: #FF9900; */
  outline: none;
  color: hsl(238, 68%, 49%);
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px 7px 5px 7px;
}

#submit {
  border: none;
  border-radius: 16px;
  margin-left: 1em;
  background-color: #bbff00;
  padding: 0.5em;
  font-weight: bold;
  color: hsl(238, 68%, 49%);
}

#submit:hover {
  background-color: #ff00bb;
  color: white;
}

#displayed-date-text {
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Caveat", cursive;
  height: 2em;
  color: #fff;
  text-shadow: 0 0 7px #bbff00, 0 0 10px #bbff00, 0 0 21px #bbff00,
    0 0 42px #bbff00, 0 0 82px #bbff00, 0 0 92px #bbff00, 0 0 102px #bbff00,
    0 0 151px #bbff00;
}

#screenTop {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-top: 2.5em;
}

#selectedDate {
  margin-left: 5em;
  align-content: flex-end;
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}

.side-nav {
  height: 100%;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 75vh;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#event-lists {
  height: 100%;
  overflow-y: auto;
  width: 20%;
}

.event-item {
  min-height: 2em;
  height: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d1d1;
  border: 1px solid #dddddd;
  overflow: hidden;
}

.event-item-content {
  line-height: 1.5em;
  padding: 3px;
}

.event-item:hover {
  background-color: #ff00bb;
}

i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

#search-task {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

#search-task::placeholder {
  color: white;
  opacity: 0.6;
  font-size: 1rem;
}

#month-calendar {
  font-size: large;
  font-family: "Caveat";
  width: 80%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 4em;
  padding-top: 2em;
}

.weekday {
  display: inline-flex;
  width: 14.2858%;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  height: 5%;
  color: red;
}

.month-day,
.day,
.extra-day,
.chosen-day {
  height: 15.66666%;
  display: inline-flex;
  width: 13.2858%;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  outline: none;
  padding: 0.3vmin;
  /* color: red; */
  font-weight: 900;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
  color: white;
}

.month-day-number,
.extra-month-day-number {
  font-family: sans-serif;
  font-size: 0.8rem;
}

.month-day-number {
  color: white;
}

.extra-month-day-number {
  color: rgb(85, 110, 53);
}

.event-headline {
  list-style: none;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.events-headline-list {
  /* position: absolute; */
  padding-top: 15%;
  display: block;
  padding-left: 10%;
}

.month-event {
  margin-top: 10px;
}

.month-events-group {
  color: black;
  height: 3vmin;
  width: 7.5vmin;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20%;
  margin-left: 15%;
  padding: 0.4vmin;
  z-index: 4;
  transition: all ease 1s;
}

/* .month-events-group:hover {
  background-color: #9900ff;
} */

.title-weekdays {
  position: absolute;
  width: 80%;
  z-index: 10;
  color: white;
  right: 0;
  font-family: "Caveat", cursive;
  padding: 0 50px;
  padding-right: 40px;
}

.title-weekdays > * {
  width: 13.2858%;
  text-align: center;
  display: inline-block;
  font-size: x-large;
}

.grouped-event {
  background-color: #a1d3e6f3;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  font-family: "Caveat";
  font-size: x-large;
}

.grouped-event h3 {
  text-decoration: underline;
}

.exit-group {
  position: relative;
  bottom: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #30b1e0f3;
  font-weight: 700;
  transition: all 0.6s ease;
}

.exit-group:hover {
  background-color: #30b1e04b;
}

.hover-color:hover {
  background-color: #e9ab70f3;
}

.month-day:hover,
.day:hover,
.extra-day:hover {
  background-color: #00bbff;
}

.chosen-day {
  background-color: #9900ff;
}

.chosen-day:hover {
  background-color: #ff9900;
}

.extra-day {
  color: grey;
}

#input-date *,
#selectedDate * {
  cursor: pointer;
}

#selectedDate {
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
}

.displayed-menu {
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  position: absolute;
  color: black;
  /* border: none; */
  width: 200px;
  /* height: 100px; */
  overflow: auto;
  /* overflow-y: auto; */
  /* left: 50%;
  transform: translate(-50%);
  top: 30%; */
  background-color: white;
  z-index: 5;
}

#add-event {
  cursor: pointer;
}

.input-event-month {
  height: 40%;
}
