* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-nav {
  background: rgb(230, 163, 163);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  height: 60px;
}

#displayed-date-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: x-large;
  height: 2em;
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}

.side-nav {
  height: 100%;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(173, 226, 173);
  max-height: 75vh;
}

#event-lists {
  height: 100%;
  overflow-y: auto;
}

.event-item {
  min-height: 2em;
  height: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d1d1;
  border: 1px solid #dddddd;
  overflow: hidden;
}

.event-item-content {
  line-height: 1.5em;
  padding: 3px;
}

.event-item:hover {
  background-color: rgb(31, 167, 90);
}

i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

#search-task {
  width: 100%;
  padding: 10px;
  text-align: center;
}

#month-calendar {
  background-color: rgb(173, 226, 173);
  /* display: block; */
}

.weekday {
  display: inline-flex;
  width: 14.2858%;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  height: 5%;
  color: red;
}

.month-day,
.day,
.extra-day,
.chosen-day {
  height: 15.66666%;
  display: inline-flex;
  width: 13.2858%;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid thin black;
  padding: 0.3vmin;
  /* color: red; */
  font-weight: 900;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
  color: white;
}

.month-day-number {
  color: black;
}

.event-headline {
  list-style: none;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.events-headline-list {
  /* position: absolute; */
  padding-top: 15%;
  display: block;
  padding-left: 10%;
}

.month-events-group {
  color: black;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20%;
  margin-left: 15%;
  padding: 0.4vmin;
}

.month-day:hover,
.day:hover,
.extra-day:hover {
  background-color: lightgrey;
}

.chosen-day {
  background-color: rgb(209, 233, 248);
}

.chosen-day:hover {
  background-color: lightskyblue;
}

.extra-day {
  color: grey;
}

#input-date *,
#selectedDate * {
  cursor: pointer;
}

.displayed-menu {
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  position: absolute;
  color: black;
  /* border: none; */
  width: 200px;
  /* height: 100px; */
  overflow: auto;
  /* overflow-y: auto; */
  /* left: 50%;
  transform: translate(-50%);
  top: 30%; */
  background-color: white;
  z-index: 5;
}

#add-event {
  cursor: pointer;
}

.input-event-month {
  height: 40%;
}
