* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

body {
  width: 85%;
  margin: 0 auto;
}

.container {
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "nav main main main"
    "nav main main main"
    "nav main main main";
  grid-gap: 0.5rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#month-main-navbar {
  grid-area: title;
  background-color: green;
}

#month-left-navbar {
  grid-area: nav;
  background-color: yellow;
}

#calendar {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  /* position: absolute;
  left: 50%;
  top: 20%; */
  /* transform: translate(-50%);  */
  grid-area: main;
  background-color: blue;
}

#calendar {
  display: none;
}

#month-calendar {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  grid-area: main;
  cursor: pointer;
  /* background-color: blue; */
}

/* td {
    width: 30px;
    height: 30px;
} */

#calendar * {
  border: black 1px solid;
}

/* #calendar { */
/* width: 800px;
  height: 800px; */
/* border: 1px solid black;
  position: absolute; */
/* left: 50%;
  top: 5%; */
/* transform: translate(-50%); */
/* } */

.weekday {
  display: inline-flex;
  width: 14.2858%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5%;
  color: red;
}

.month-day,
.day,
.extra-day, .chosen-day {
  height: 16.66666%;
  display: inline-flex;
  width: 14.2858%;
  justify-content: flex-end;
  align-items: flex-end;
  border: solid thin black;
  padding: 0.3vmin;
  color: red;
  font-weight: 900;
}

.month-day:hover,
.day:hover,
.extra-day:hover {
  background-color: lightgrey;
}

.chosen-day {
  background-color: rgb(209, 233, 248);
}

.chosen-day:hover {
  background-color: lightskyblue;
}

.extra-day {
  color: grey;
}

#input-date {
  position: absolute;
  right: 20%;
  top: 10%;
}

#input-date *,
#selectedDate * {
  cursor: pointer;
}
